* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background: #fff !important;
}

html {
    scroll-behavior: smooth;
}


.banner-container{
    width:100%;
}

.img-banner {
    display: flex;
    width:100%;
}

.img-banner:hover{
    width:99%;
}

.img-banner-cel {
    display: none;
}



.produto-container{
    max-width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.produto {
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid rgb(220, 235, 227); 
   box-shadow: 2px 2px 10px #a7711b;
   width: 310px;
   height: 360;
   border-radius: 10px;
   margin: 10px 10px 10px 10px;
   padding: 5px 1px;
   background: #FFF6E7;
   cursor: pointer
}

.produto:hover{
    width: 320px;
    height: 370;
}

.titulo {
    text-align: center;
    font-size: 30px;
    margin: 5px 2px;
    color: #940039;
    background: #FFF6E7;
    text-shadow: 1px 1px 1px salmon;
}

.valor {
    font-weight: 900;
    font-size: 25px;
    margin: 5px 2px;
    background: #FFF6E7;
    color:palevioletred;
}
.titulo h1{
    border-radius: 2rem;
    color: salmon;
    border: 3px solid black;
    
}

.formulario-container{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
form {
    margin: 10px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 10px;
    padding: 25px;
    max-width:100%;
    height: auto;
    justify-content: center;
    text-align: center;
    background: #FFF6E7;
}

.logo-img{
    width: 150px;
}

input {
    display:flex;
    flex-direction: column;
    width: 300px;
    height: 30px;
    padding: 1px 5px;
    justify-content: center;
    margin: 1px 1px;
    border-radius: 10px;
    border-style: none;
    color:black;
    outline-style: none;
}


h1 {
    color:salmon;
    background: #FFF6E7;
    text-align: center;
    font-weight: 900px;
    font-size: 25px;
    margin: 5px 2px;
}

.botao {
    display:flex;
    flex-direction: column;
    width: 310px;
    height: 30px;
    align-items: center;
    background: salmon;
    border-radius: 10px;
    color:#fff;
    cursor: pointer;
}

.botao:hover{
    background: salmon;
}

footer{
    max-width: 100%;
    font-size: 14px;
    text-align: center;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: salmon;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 480px){

.img-banner-cel {
    display:flex;
        justify-content: center;
        max-width:100%;
    }
.img-banner {
    display: none; 
}
}

@media (max-width: 667px){
input {
    width: 200px; 
}
.botao{
    width: 210px; 
    align-items: center;
}

h1{
    font-size: 18px;
}

footer{
    font-size: 10px;
}
}